<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleName</key><string>Tyrfrost3D</string>
<key>CFBundleDisplayName</key><string>Tyrfrost 3D</string>
<key>CFBundleIdentifier</key><string>se.dittnamn.Tyrfrost3D</string>
<key>UILaunchScreen</key><dict/>
<key>NSPhotoLibraryUsageDescription</key><string>Appen behöver åtkomst för att välja logotyp.</string>
</dict></plist>
